<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    {% set route_name = app.request.attributes.get('_route') %}
       
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% for category in categories %}
                <li class="nav-item">
                    <a class="nav-link {{ category.name == 'blonde' ? 'active' : '' }}" href="{{ path('showCategory', { 'id' : category.id }) }}">{{ category.name }} <span class="sr-only">(current)</span></a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>