<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {{render(controller('App\\Controller\\BarController:mainMenu',
    {
        'routeName' : app.request.attributes.get('_route'),
        'category_id' : app.request.attributes.get('id') ?? ''
    }))}}
        {% include 'partials/menu.html.twig' %}
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    Sidebar
                </div>
                <div class="col-md-8">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
